<%= form_with model: @article do |form| %>
  <div class="flex flex-wrap justify-center items-center w-screen">
    
    <%= form.label :title, class: "flex w-9/12 text-3xl my-6 justify-center" %>
    <%= form.text_field :title, class: "flex w-9/12 rounded mb-6" %>
    <% @article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>

    <%= form.label :body, class: "flex w-9/12 text-3xl my-6 justify-center w-9/12" %>
    <%= form.text_area :body, class: "flex w-9/12 h-40 rounded mb-6" %>
    <% @article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>

    <div class="w-full flex flex-wrap justify-center">
      <%= form.label :status, class: "text-3xl ml-16 m-6 justify-center" %>
      <%= form.select :status, ['public', 'private', 'archived'], {}, selected: 'public', class: "text-3xl italic rounded border-none border-2" %>
    </div>

    <div class="flex w-full my-6 justify-center">
      <%= form.submit class: "bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  </div>
<% end %>