<nav class="bg-white shadow-lg">
		<div class="max-w-6xl mx-auto px-4">
			<div class="flex justify-between">
				<div class="flex space-x-7">
					<!-- Website Logo -->
					<div>
						<a href="/" class="flex items-center py-4 px-2">
							<img src="https://kommit.co/static/media/logo.faed8f03.png" alt="Logo" class="h-8 mr-2" />
							<span class="font-semibold text-gray-500 text-lg"
								>Kommit blog</span
							>
						</a>
					</div>
					<!-- Primary Navbar items -->
					<div class="hidden md:flex items-center space-x-1">
						<a
							href="/"
							class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
							>Home</a
						>
						<a
							href="/articles/new"
							class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
							>Create Article</a
						>
						<p class="navbar-text float-right">
							<% if user_signed_in? %>
								<p class="py-4 px-2 text-gray-500 font-semibold">Logged in as <%= current_user.email %></p>
								<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300' %> |
								<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300'  %>
							<% else %>
								<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300'  %> |
								<%= link_to "Login", new_user_session_path, :class => 'navbar-link py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300'  %>
							<% end %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</nav>
